In [1]:
import pandas as pd

In [2]:
cols= ['cnpj','codigo_natureza_juridica', 'cnae_fiscal', 'descricao_tipo_logradouro', 'logradouro', 'numero', 'bairro', 'cep', 'uf', 'codigo_municipio', 'municipio', 'capital_social','porte']

In [3]:
iter_csv = pd.read_csv('empresa.csv', usecols = cols, iterator = True, dtype = {'cep': object},chunksize = 1000)
df = pd.concat([chunk[chunk['municipio'] == 'SAO PAULO'] for chunk in iter_csv])

In [4]:
df.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3676064 entries, 17 to 41512471
Data columns (total 13 columns):
 #   Column                     Dtype
---  ------                     -----
 0   cnpj                       int64
 1   codigo_natureza_juridica   int64
 2   cnae_fiscal                int64
 3   descricao_tipo_logradouro  object
 4   logradouro                 object
 5   numero                     object
 6   bairro                     object
 7   cep                        object
 8   uf                         object
 9   codigo_municipio           int64
 10  municipio                  object
 11  capital_social             float64
 12  porte                      int64
dtypes: float64(1), int64(5), object(7)
memory usage: 392.6+ MB

In [8]:
df.columns

Index(['cnpj', 'codigo_natureza_juridica', 'cnae_fiscal',
       'descricao_tipo_logradouro', 'logradouro', 'numero', 'bairro', 'cep',
       'uf', 'codigo_municipio', 'municipio', 'capital_social', 'porte'],
      dtype='object')

In [10]:
df.drop(labels=['cnpj', 'codigo_natureza_juridica', 'descricao_tipo_logradouro', 'logradouro', 'numero', 'bairro', 'uf', 'codigo_municipio', 'municipio', 'capital_social', 'porte'], axis=1, inplace=True)

In [70]:
df.dropna(axis=0, inplace=True)

In [71]:
cep= df.cep

In [72]:
novos_ceps = []

In [73]:
for c in cep:
    if len(c)<8:
        tamanho = len(c)
        zeros = 8-tamanho
        novo_cep = zeros*"0"+c
        novos_ceps.append(novo_cep[:5]+"-"+novo_cep[-3:])
    else:
        novos_ceps.append(c[:5]+"-"+c[-3:])

In [79]:
df['cep2']=novos_ceps

In [81]:
df.drop("cep", axis=1,inplace=True)

In [82]:
df

          cnae_fiscal       cep2
17            6421200  01011-100
296           6421200  05072-000
297           6421200  03606-010
299           6422100  04046-000
300           6421200  04203-050
...               ...        ...
41511190      3211601  01023-900
41511195      7490101  01026-001
41511247      4930201  05317-000
41511664      4930202  05114-001
41512471      8888888  08210-040

[3676062 rows x 2 columns]

In [88]:
quantidade = df.groupby('cep2')['cnae_fiscal'].value_counts().unstack(fill_value=0)

In [89]:
quantidade.to_csv('quantidade_cnae.csv')